<!DOCTYPE html>
<html>

<head>
    <title>Alphabet | Pakawan Maneeprem</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head> 

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand" href="../"><strong>Alphabet</strong></a>

        <div class="collapse navbar-collapse">
            <ul class="nav mr-auto">
                <li class="nav-item active">
                    <a class="btn btn-warning"  href="/alphabets">Show</a>
                </li> 
                <li class="nav-item active">
                    <a class="btn btn-warning" href="/newalphabet">Add New</a>
                </li>
            </ul>
            <ul class="nav ml-auto">
                <a class="btn btn-light" href="/newalphabet">Login</a>
                <a class="btn btn-light" href="/newalphabet">Sign Up</a>
        </ul>
        </div>
    </nav>
    <br/>